@import "tailwindcss";

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f3f4f6;
  font-family: system-ui, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
